body {
    background-color: #282828;
    color: #fff;
	height: 100vh;
  }
.topics{
    height: 90px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;

}
.topics .logo{
    display: flex;
    gap: 15px;
    height: 75px;
}
.topics .menu{
    display: flex;
    gap: 30px;
}
.topics .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: "Chalet";
}
.topics .menu li a:hover {
    border-bottom: 3px solid #fff;
}